[submodule ".config/qutebrowser/dracula"]
	path = .config/qutebrowser/dracula
	url = https://github.com/dracula/qutebrowser-dracula-theme.git
[submodule ".config/awesome/awesome-wm-widgets"]
	path = .config/awesome/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets.git
[submodule ".config/tmux/plugins/tmux"]
	path = .config/tmux/plugins/tmux
	url = https://git@github.com/dracula/tmux
[submodule ".config/tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://git::@github.com/tmux-plugins/tpm
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
